@mixin clearfix {
     &::after{
          content: "";
          display: table; 
          clear: both;
     }
}

@mixin picture_top{
     &:hover{
          transform: scale(1.1);
          box-shadow: 0 2.5rem 6rem rgba($color_black, 2);
          z-index: 20;
     }
}