//COLORS

$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;
$color-secondary: #2849b4b4;
$color-dark-grey: #777;
$color-medium-grey: #999;
$color-soft-grey: #DDD;
$color-black: #222;
$color-blackish: #444;
$color-white: #EEE;
$color-whitest: #FFF;

//GRIDS

$grid-width: 114rem;
$gutter-vertical: 0.8rem; 
$gutter-horizontal: 2.2rem; 
