.section-about{
     background-color: $color-white;
     padding: 20rem 0 20rem 0;
     margin-top: -15rem;
     margin-bottom: -14rem;
}

.section-features{
     background-image: linear-gradient(to right bottom, $color-primary, $color-secondary), url(../img/nat-4.jpg);
     background-size: cover;
     clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
     padding: 15rem 0;
     margin-top: -11rem;
}

.section-tours{
     background-color: $color-white;
     padding: 15rem 0 25rem 0;
     margin-top: -15rem;
     // margin-bottom: 30rem;
}

.section-stories{
     position: relative;
     // background-color: $color-white;
     padding: 15rem 0 15rem 0;
     margin-top: -15rem;
}

.section-booking{
     padding: 15rem 0;
     background-image: linear-gradient(to bottom right, $color-primary-light, $color-primary-dark);
     margin-top: -10rem;
}